@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #111;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 1000;
}

.scroll-btn.show {
  opacity: 1;
  pointer-events: auto;
}


/* Global Dark Scrollbar */
* {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #242323 #111;
  /* thumb / track */
}

/* Webkit Browsers */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background: #0e0c0c;
  border-radius: 8px;
  border: 2px solid #111;
}

*::-webkit-scrollbar-thumb:hover {
  background: #252525;
}

body {
  background-color: #0e0c0c;
}

/* design to card  */
.wrapper:has(.card:hover) .card:not(:hover) {
  opacity: 0.4;
  transition: all 0.5s ease-in-out;

}

.card:hover {
  backdrop-filter: blur(10);
  transition: all 0.5s ease-in-out;
}

/* تنسيق المربع (الكليندر) ليكون أسود فخم */
.dark-calendar {
  background-color: #000 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  font-family: inherit;
  color: white !important;
  border-radius: 0px !important;
  /* خليها حادة عشان تبان Modern */
}

.dark-calendar .react-datepicker__header {
  background-color: #000 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dark-calendar .react-datepicker__current-month,
.dark-calendar .react-datepicker__day-name,
.dark-calendar .react-datepicker__day {
  color: white !important;
}

.dark-calendar .react-datepicker__day:hover {
  background-color: #f59e0b !important;
  /* لون الـ amber بتاعك عند الهوفر */
  color: black !important;
}

.dark-calendar .react-datepicker__day--selected {
  background-color: #f59e0b !important;
  color: black !important;
}

/* إخفاء السهم الصغير */
.react-datepicker__navigation-icon::before {
  border-color: white !important;
}